
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Color */
    --primary-color:#6DC33D;
    --secondary-blue: #381DDB;
    --light-dark:#22222208;
    --white: #FFF;
    --text-color: #222;
  
    /* Font Sizes */
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-medium-large: 1.8rem;
    --font-size-large: 2.4rem;
    --font-size-xlarge: 3.4rem
    /* Shadows */
    --box-shadow: 0 0.4rem 1rem 0 rgba(0, 0, 0, 0.10);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 10px;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
  }
  
  h1, h2, h3, h4, h5, h6,p {
    color: var(--text-color);
  }
  h1{
    font-size: 5.6rem;
  }
  h2{
    font-size: var(--font-size-xlarge);
  }
  h3{
    font-size: var(--font-size-large);
  }
  p{
    font-size: var(--font-size-medium);
  }
  ul{
    list-style: none;
  }
  
  a {
    text-decoration: none;
    word-break: break-all;
  }
  .our-user-container{
    padding: 1.5rem 6rem;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12rem 0;
  }
  .container{
    max-width: 192rem;
    padding: 13rem 18rem 0 18rem;
    margin: 0 auto;
  }
  img{
    display: block;
    width: 100%;
  }
   .trans-btn{
    padding: 0.8rem 2rem;
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem; 
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 5rem;
    border: 0.1rem solid var(--white);
    white-space: nowrap;
   }
   .trans-white{
    background-color: var(--white);
   }
   
   .side-trans-btn{
    border: 0.1rem solid white;
    width: fit-content;
    color: white;
   }
   
  
  .btn {
    background-color: var(--primary-color);
    color: white;
    padding: 0.7rem 7.8rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: var(--font-size-small);
    font-weight: 600;
    border-radius: 5rem;
    line-height: normal;
    white-space: nowrap;
  }
  
  .btn:hover {
    background-color: var(--secondary-color);
  }
  .menu-btn{
    border: 0.1rem solid var(--primary-color);
   }

 

  /* navbar */
  .services-header{
    position: relative;
  }
  .right-art{
    position: absolute;
    right: 0;
    z-index: -1;
    width: 63rem;
  }
  .left-art{
    position: absolute;
    left: 0;
    z-index: -1;
    width: 10rem;

  }
  .navbar-container{
    max-width: 192rem;
    margin: auto;
    padding: 2.5rem 9rem 0 9rem;
  }
  .menu-button {
    display: none;
    cursor: pointer;
}
  .nav-logo-grid{
    display: flex;
    align-items: center;
    gap: 7rem;
  }
  .udix-logo{
    width: 18rem;
    min-width: 18rem;
    cursor: pointer;
  }
  .udix-ul{
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: var(--font-size-medium);
    font-weight: 600;
    line-height: 2rem; 
    color: var(--text-color);
    cursor: pointer;
    margin-left: 12rem;
  }
  .active{
    color: var(--primary-color);
  }
  .udix-ul li a:hover{
    color: var(--primary-color);
  }
 

    .udix-sign-in-grid{
        display: flex;
        align-items: center;
        gap: 4rem;
    }
    .udix-sign-in{
        color: var(--secondary-blue);
        font-size: var(--font-size-small);
        font-weight: 600;
        line-height: 2rem;
        text-transform: uppercase;
    }
    .navbar-container{
        display: flex;
        justify-content: space-between;
    }
     .hero-heading{
      color: var(--primary-color);
      margin-bottom: 1.2rem;
     }
     .hero-main-content{
      max-width:57rem ;
      font-size: 1.4rem;
     }
     .hero-main-content-length{
      max-width:60rem;
      margin-bottom: 3.4rem;
     }
     .cpq-content{
      margin-left: 11rem;
      margin-top: 5.7rem;
     }

     .our-users{
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
     }
      
     .layer-outer{
      width: 10rem;
     }
     .layer-outer-blk{
      display: flex;
      align-items: center;
      gap:4rem;
      margin-right: 6rem;
     }
     .our-user-love-head{
      color: var(--white);
      font-size: var(--font-size-xlarge);
      font-weight: 500;
     }
     .chat-plateform{
      text-align: center;
     }
     .chat-plateform-inner-blk{
      width: 42rem;
      margin: 2.5rem auto;
     }
     .chat-plateform h3{
      color: var(--primary-color);
      font-size:4.5rem;
      line-height: normal;
     }
     .chat-plateform h1{
      color: var(--primary-color);
      font-size:5.6rem;
      line-height: normal;
     }
     .chat-input{
      width: 100%;
      padding: 0.7rem 1rem;
      border-radius: 0.6rem;
      margin-bottom: 1.5rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0 0.3rem 0.8rem;
      border: 0.1rem solid black;
     }
     .chat-input::placeholder{
      color: black;
      font-family: "Open Sans", sans-serif;
      font-size: 1.4rem;
     }
     .chat-plateform-inner-blk textarea{
      resize: none;
     }
     .submit-outer{
      display: flex;
      align-items: center;
      justify-content: end;
     }
     footer{
      position: relative;
     }
     .footer-img{
      width: 120rem;
      position: absolute;
      left: 0;
     }
     .footer-img svg{
       width: 100%;
       display: block;
     }
   
    .udix-menu{
      display: none;
    }

        #sidenav {
          position: fixed;
          top: 0;
          right: -25rem; 
          width: 25rem;
          height: 100%;
          background-color: var(--primary-color);
          transition: right 0.3s;
          z-index: 1000; 
          padding-top: 6rem;
      }

      #sidenav ul {
          list-style-type: none;
          padding: 0;
          text-align: center;
          width: fit-content;
          margin: auto;
      }

      #sidenav ul li {
          padding: 0.8rem 1.6rem;
      }

      #sidenav ul li a {
          color: var(--white);
          text-decoration: none;
          display: block;
          font-size: var(--font-size-medium-large);
      }

      #sidenav ul li a:hover {
          background-color: var(--white);
          color: var(--secondary-blue);
          border-radius: var(--border-radius);
      }

      #sidenav .close-btn {
          position: absolute;
          top: 1rem;
          left: 2rem;
          font-size: 3.4rem;
          background: none;
          border: none;
          color: var(--white);
          cursor: pointer;
      }

      #sidenav.open {
          right: 0; 
      }
      #sidenav   li .trans-white{
        color: var(--primary-color);
       }
        


    /* media query */

    @media (max-width: 1440px) {
        html {
            font-size: 10px;
        }
    }
    
    @media (max-width: 1400px) {
        html {
            font-size: 9.7222px;
        }
    }
    
    @media (max-width: 1368px) {
        html {
            font-size: 9.5px;
        }
    }
    
    @media (max-width: 1366px) {
        html {
            font-size: 9.4861px;
        }
    }
    
    @media (max-width: 1300px) {
        html {
            font-size: 9.44444px;
        }
    }
    
    @media (max-width: 1280px) {
        html {
            font-size: 8.88889px;
        }
    }
    
    @media (max-width: 1208px) {
        html {
            font-size: 8.38889px;
        }
        .container{
          padding: 12rem 10rem 0 10rem;
        }
        .view-container{
          padding: 0 10rem;
        }
    }
    
    @media (max-width: 1152px) {
        html {
            font-size: 8px;
        }
    }
    
    @media (max-width: 1024px) {
        html {
            font-size: 7.1111px;
        }
    }
    @media (max-width: 991px) {
      .footer-img{
        width: 70rem;
      }
      .nav-logo-grid{
        gap:3rem
      }
      
      .udix-ul{
        margin-left: 0;
      }
    }

    @media (max-width:767px) {
      .right-art{
        display: none;
      }
      .footer-img{
        width: 50rem;
      }
      .left-art{
        display:none;
      }
      .navbar-container{
        padding: 2.5rem 3rem 0 3rem;
      }
      .cpq-content{
        margin-left: 0;
        margin-top: 3rem;
        padding: 2rem;
      }

    .udix-ul, .udix-sign-in-grid {
        display: none;
    }
    
    .menu-button {
        display: block;
    }
    
    .navbar-container.active .udix-ul,
    .navbar-container.active .udix-sign-in-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 5rem;
        right: 2rem;
        background-color: #fff;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
        padding: 1rem;
        z-index: 10;
    }
    .udix-menu{
      display: block;
    }
    
  }
  @media (max-width:620px){
    .our-user-container{
      flex-direction: column;
      align-items:center;
      justify-content: center;
      gap: 30px;
    }
    .layer-outer-blk{
      margin-right: 0;
    }
    .layer-outer-blk{
      gap:3%;
    }
  }
   @media (max-width:576px) {
    .footer-img{
      width: 40rem;
    }
    .chat-plateform-inner-blk {
      padding: 0 3rem;
    }
  }

    @media (max-width:425px) {
      .footer-img{
        width: 30rem;
      }

    }
        
 
